.scrolloff 
{
   pointer-events: none;
}
.home
{
	padding: 2em;
	text-align: center;
}
h2 
{
	margin-bottom: 3em;
}
h3
{
	letter-spacing: 5px;
}
.google
{
	color: #dedede;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
